.jumbotron {
    background-color: #f4511e; /* Orange */
    color: #ffffff;
    padding: 100px 25px;
}

.bg-grey {
    background-color: #f6f6f6; /* Grey */
}

.container-fluid {
    padding: 60px 50px;
}

.logo{
    color: #f4511e; /* Orange */
    font-size: 200px;
}

.logo-small {
    color: #f4511e; /* Orange */
    font-size: 50px;
}

/* questo stile viene applicato solo se viene rispettata la condizione nella parentesi */
@media screen and (max-width:768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}
